<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<link rel="stylesheet" href="../../static/css/stylesheet.css">
<head>
    <title>Mar-Trans</title>
</head>
<header>
    <h1>Mar-Trans</h1>
    <!--    <img src="images/logo.png" alt="ABC logo">-->
</header>
<nav>
    <ul>
        <li><a th:href="@{/index}" >Strona główna</a></li>
        <li><a th:href="@{/vehicles}" class="active">Auta</a></li>
        <li><a th:href="@{/clients}">Klienci</a></li>
        <li><a th:href="@{/trips}">Wyjazdy</a></li>
    </ul>
</nav>
<body>
<main>
    <h2>Szczegóły pojazdu</h2>
    <form class="edit" method="POST">
        <label for="brand">Marka:</label>
        <input type="text" th:field="*{vehicle.brand}" id="brand" th:placeholder="*{vehicle.brand}" disabled>
        <br>

        <label for="model">Model:</label>
        <input type="text" th:field="*{vehicle.model}" id="model" th:placeholder="*{vehicle.model}" disabled>
        <br>

        <label for="regNumber">Numer rejestracyjny:</label>
        <input type="text" th:field="*{vehicle.regNumber}" id="regNumber" th:placeholder="*{vehicle.regNumber}" disabled>
        <br>

        <label for="numberOfSeats">Ilość miejsc: </label>
        <input type="text" th:field="*{vehicle.numberOfSeats}" id="numberOfSeats" th:placeholder="*{vehicle.numberOfSeats}" disabled>
        <br>

        <label></label>
        <a th:href="@{/vehicles/editform/{id}(id=${vehicle.id})}" class="button-green">Edytuj</a>
    </form>

    <h2>Wyjazdy pojazdu</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Start</th>
            <th>Cel</th>
            <th>Data wyjazdu</th>
            <th>Data przyjazdu</th>
            <th>Ilość osób</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trip : ${trips}">
            <td th:text="${trip.start}"></td>
            <td th:text="${trip.destination}"></td>
            <td th:text="${#temporals.format(trip.deparatureDate, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(trip.arrivalDate, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${trip.numberOfPeople}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>